.hero-form {
  padding-top: 60px;
}

.hero-search-field {
  font-size: 14px;
  line-height: normal;
  padding: 21px 13px 22px;
  border-radius: 15px;
  width: 497px;
  height: 64px;
  border: none;
  background: #283036;
  color: #fff;
}
.contributor-form {
  padding-top: 100px;
  text-align: center;
}
.email-field {
  border-radius: 15px;
  width: 549px;
  border: none;
  background: #283036;
  height: 64px;
  padding-left: 24px;
}
