.container {
  width: 1254px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-position {
  display: flex;
  align-items: baseline;
}
.btn-container {
  display: flex;
  justify-content: center;
}
.comment-container {
  display: flex;
}